
.gen{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}
.generation-text{
    width: 100%;
    text-align: left;
    margin-right: 50px;
    padding: 0 150px;
}
.generation-text .butt button{
    border-radius: 18px;
    border: none;
    background: linear-gradient(90deg, hsl(233, 26%, 24%), hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 13px 20px;
    cursor: pointer;
}
.generation-text .butt a{
    text-decoration: none;
    color: white;
}
.heading{
    font-size: 50px;
}
#image{
    background: url(../images/bg-desktop.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
#mobile-image{
    background:url(../images/bg-mobile.svg);
    display: none;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
    .gen{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }
    #mobile-image{
        display: block;
        width: 100%;
    }
    #mobile-image .name{
        width: 100%;
    }
    #image{
        display: none;
    }
    .generation-text{
        width: 50%;
        padding: 0;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }
    .generation-text .heading{
        font-size: xx-large;
        width: 100%;
    }
    .generation-text{
        width: 95%;
    }
    #image{
        width: 100%;
    }
}